:root {
  --active-color: #ffc000;
  --active-hover-color: #ffde7b;
  --complete-color: #2ea3ed;
  --disabled-color: #a6a6a6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 20px;
}

.shape.not-started.disabled {
  fill: var(--disabled-color);
  cursor: not-allowed;
}

.shape.not-started.active {
  fill: var(--active-color);
  cursor: pointer;
}

.shape.complete {
  fill: var(--complete-color);
  cursor: default;
}

.shape.not-started.disabled .shape-indicator,
.shape.not-started.active .shape-indicator {
  visibility: hidden;
}

.shape-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.shape-label {
  color: white;
  font-size: 24px;
}

/* Atomic Shape CSS */

.shape .wedge {
  stroke: white;
  overflow: visible;
}
